In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('Housing Data.csv')

C:\Users\Deepika Dutt\AppData\Local\Temp\ipykernel_24280\2322174321.py:1: DtypeWarning: Columns (12,26,36) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Housing Data.csv')

In [6]:
data.head()

,No,Type,Region,MunicipalityCode,Prefecture,Municipality,DistrictName,NearestStation,TimeToNearestStation,MinTimeToNearestStation,...,Classification,Breadth,CityPlanning,CoverageRatio,FloorAreaRatio,Period,Year,Quarter,Renovation,Remarks
0,1,Residential Land(Land and Building),Residential Area,2201,Aomori Prefecture,Aomori City,Aoba,Aomori,30-60minutes,30.0,...,City Road,9.5,Category I Exclusively Low-story Residential Zone,50.0,80.0,4th quarter 2018,2018,4,NaN,NaN
1,2,Residential Land(Land and Building),Residential Area,2201,Aomori Prefecture,Aomori City,Aoba,Aomori,30-60minutes,30.0,...,City Road,9.5,Category I Exclusively Low-story Residential Zone,50.0,80.0,2nd quarter 2018,2018,2,NaN,NaN
2,3,Residential Land(Land and Building),Commercial Area,2201,Aomori Prefecture,Aomori City,Aoba,Aomori,30-60minutes,30.0,...,National Highway,24.0,Quasi-residential Zone,60.0,200.0,1st quarter 2014,2014,1,NaN,NaN
3,4,Residential Land(Land and Building),Residential Area,2201,Aomori Prefecture,Aomori City,Aoba,Tsutsui (Aomori),25,25.0,...,City Road,8.0,Category I Exclusively Low-story Residential Zone,50.0,80.0,2nd quarter 2018,2018,2,NaN,NaN
4,5,Residential Land(Land and Building),Residential Area,2201,Aomori Prefecture,Aomori City,Aoba,Tsutsui (Aomori),25,25.0,...,City Road,6.5,Category I Exclusively Medium-high Residential...,60.0,200.0,1st quarter 2018,2018,1,NaN,NaN

In [7]:
data.columns

Index(['No', 'Type', 'Region', 'MunicipalityCode', 'Prefecture',
       'Municipality', 'DistrictName', 'NearestStation',
       'TimeToNearestStation', 'MinTimeToNearestStation',
       'MaxTimeToNearestStation', 'TradePrice', 'FloorPlan', 'Area',
       'AreaIsGreaterFlag', 'UnitPrice', 'PricePerTsubo', 'LandShape',
       'Frontage', 'FrontageIsGreaterFlag', 'TotalFloorArea',
       'TotalFloorAreaIsGreaterFlag', 'BuildingYear', 'PrewarBuilding',
       'Structure', 'Use', 'Purpose', 'Direction', 'Classification', 'Breadth',
       'CityPlanning', 'CoverageRatio', 'FloorAreaRatio', 'Period', 'Year',
       'Quarter', 'Renovation', 'Remarks'],
      dtype='object')

In [8]:
data.isnull().sum()  ## Check null values in each columns

No                                 0
Type                               0
Region                         20429
MunicipalityCode                   0
Prefecture                         0
Municipality                       0
DistrictName                      71
NearestStation                 20542
TimeToNearestStation           20576
MinTimeToNearestStation        20576
MaxTimeToNearestStation        23431
TradePrice                         0
FloorPlan                      51758
Area                               0
AreaIsGreaterFlag                  0
UnitPrice                      34229
PricePerTsubo                  34229
LandShape                      20493
Frontage                       23467
FrontageIsGreaterFlag              0
TotalFloorArea                 39426
TotalFloorAreaIsGreaterFlag        0
BuildingYear                   39224
PrewarBuilding                     0
Structure                      38936
Use                            38977
Purpose                        41177
Direction                      20513
Classification                 21391
Breadth                        21491
CityPlanning                   19916
CoverageRatio                  23669
FloorAreaRatio                 23669
Period                             0
Year                               0
Quarter                            0
Renovation                     51800
Remarks                        49029
dtype: int64

In [9]:
len(data)

52408

In [10]:
null_info = data.isnull().sum()

In [12]:
null_info.index

Index(['No', 'Type', 'Region', 'MunicipalityCode', 'Prefecture',
       'Municipality', 'DistrictName', 'NearestStation',
       'TimeToNearestStation', 'MinTimeToNearestStation',
       'MaxTimeToNearestStation', 'TradePrice', 'FloorPlan', 'Area',
       'AreaIsGreaterFlag', 'UnitPrice', 'PricePerTsubo', 'LandShape',
       'Frontage', 'FrontageIsGreaterFlag', 'TotalFloorArea',
       'TotalFloorAreaIsGreaterFlag', 'BuildingYear', 'PrewarBuilding',
       'Structure', 'Use', 'Purpose', 'Direction', 'Classification', 'Breadth',
       'CityPlanning', 'CoverageRatio', 'FloorAreaRatio', 'Period', 'Year',
       'Quarter', 'Renovation', 'Remarks'],
      dtype='object')

In [13]:
null_info.values

array([    0,     0, 20429,     0,     0,     0,    71, 20542, 20576,
       20576, 23431,     0, 51758,     0,     0, 34229, 34229, 20493,
       23467,     0, 39426,     0, 39224,     0, 38936, 38977, 41177,
       20513, 21391, 21491, 19916, 23669, 23669,     0,     0,     0,
       51800, 49029], dtype=int64)

In [14]:
#getting all the columns with null values more than 27000
columns_name = []
for col_name, null_values in zip(null_info.index, null_info.values):
    if null_values > 27000:
        print(col_name, null_values)
        columns_name.append(col_name)

FloorPlan 51758
UnitPrice 34229
PricePerTsubo 34229
TotalFloorArea 39426
BuildingYear 39224
Structure 38936
Use 38977
Purpose 41177
Renovation 51800
Remarks 49029

In [15]:
columns_name

['FloorPlan',
 'UnitPrice',
 'PricePerTsubo',
 'TotalFloorArea',
 'BuildingYear',
 'Structure',
 'Use',
 'Purpose',
 'Renovation',
 'Remarks']

In [16]:
data2 = data.drop(columns_name, axis = 1)

In [18]:
data2.isnull().sum()

No                                 0
Type                               0
Region                         20429
MunicipalityCode                   0
Prefecture                         0
Municipality                       0
DistrictName                      71
NearestStation                 20542
TimeToNearestStation           20576
MinTimeToNearestStation        20576
MaxTimeToNearestStation        23431
TradePrice                         0
Area                               0
AreaIsGreaterFlag                  0
LandShape                      20493
Frontage                       23467
FrontageIsGreaterFlag              0
TotalFloorAreaIsGreaterFlag        0
PrewarBuilding                     0
Direction                      20513
Classification                 21391
Breadth                        21491
CityPlanning                   19916
CoverageRatio                  23669
FloorAreaRatio                 23669
Period                             0
Year                               0
Quarter                            0
dtype: int64

In [19]:
data3 = data2.dropna()

In [20]:
data3.isnull().sum()

No                             0
Type                           0
Region                         0
MunicipalityCode               0
Prefecture                     0
Municipality                   0
DistrictName                   0
NearestStation                 0
TimeToNearestStation           0
MinTimeToNearestStation        0
MaxTimeToNearestStation        0
TradePrice                     0
Area                           0
AreaIsGreaterFlag              0
LandShape                      0
Frontage                       0
FrontageIsGreaterFlag          0
TotalFloorAreaIsGreaterFlag    0
PrewarBuilding                 0
Direction                      0
Classification                 0
Breadth                        0
CityPlanning                   0
CoverageRatio                  0
FloorAreaRatio                 0
Period                         0
Year                           0
Quarter                        0
dtype: int64

In [21]:
len(data3)

23145

#Mean

In [22]:
data.isnull().sum()

No                                 0
Type                               0
Region                         20429
MunicipalityCode                   0
Prefecture                         0
Municipality                       0
DistrictName                      71
NearestStation                 20542
TimeToNearestStation           20576
MinTimeToNearestStation        20576
MaxTimeToNearestStation        23431
TradePrice                         0
FloorPlan                      51758
Area                               0
AreaIsGreaterFlag                  0
UnitPrice                      34229
PricePerTsubo                  34229
LandShape                      20493
Frontage                       23467
FrontageIsGreaterFlag              0
TotalFloorArea                 39426
TotalFloorAreaIsGreaterFlag        0
BuildingYear                   39224
PrewarBuilding                     0
Structure                      38936
Use                            38977
Purpose                        41177
Direction                      20513
Classification                 21391
Breadth                        21491
CityPlanning                   19916
CoverageRatio                  23669
FloorAreaRatio                 23669
Period                             0
Year                               0
Quarter                            0
Renovation                     51800
Remarks                        49029
dtype: int64

In [30]:
data.Frontage.info()

<class 'pandas.core.series.Series'>
RangeIndex: 52408 entries, 0 to 52407
Series name: Frontage
Non-Null Count  Dtype
--------------  -----
28941 non-null  float64
dtypes: float64(1)
memory usage: 409.6 KB

In [42]:
sample_data = data[['Frontage']]

In [43]:
sample_data

       Frontage
0          13.5
1          23.5
2          26.5
3           NaN
4          12.5
...         ...
52403       NaN
52404       NaN
52405       NaN
52406       NaN
52407       NaN

[52408 rows x 1 columns]

In [44]:
sample_data['Frontage'].mean()

17.5476210220794

In [45]:
sample_data['Frontage_mean'] = sample_data['Frontage'].fillna(sample_data['Frontage'].mean())

C:\Users\Deepika Dutt\AppData\Local\Temp\ipykernel_24280\751483196.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_data['Frontage_mean'] = sample_data['Frontage'].fillna(sample_data['Frontage'].mean())

In [46]:
sample_data

       Frontage  Frontage_mean
0          13.5      13.500000
1          23.5      23.500000
2          26.5      26.500000
3           NaN      17.547621
4          12.5      12.500000
...         ...            ...
52403       NaN      17.547621
52404       NaN      17.547621
52405       NaN      17.547621
52406       NaN      17.547621
52407       NaN      17.547621

[52408 rows x 2 columns]

In [47]:
sample_data['Frontage'].median()

14.5

In [48]:
sample_data['Frontage_median'] = sample_data['Frontage'].fillna(sample_data['Frontage'].median())

C:\Users\Deepika Dutt\AppData\Local\Temp\ipykernel_24280\860936704.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_data['Frontage_median'] = sample_data['Frontage'].fillna(sample_data['Frontage'].median())

In [49]:
sample_data

       Frontage  Frontage_mean  Frontage_median
0          13.5      13.500000             13.5
1          23.5      23.500000             23.5
2          26.5      26.500000             26.5
3           NaN      17.547621             14.5
4          12.5      12.500000             12.5
...         ...            ...              ...
52403       NaN      17.547621             14.5
52404       NaN      17.547621             14.5
52405       NaN      17.547621             14.5
52406       NaN      17.547621             14.5
52407       NaN      17.547621             14.5

[52408 rows x 3 columns]

In [50]:
sample_data['Frontage'].mode()

0    11.0
Name: Frontage, dtype: float64

In [51]:
sample_data['Frontage'].mode()[0]

11.0

In [52]:
sample_data['Frontage_mode'] = sample_data['Frontage'].fillna(sample_data['Frontage'].mode()[0])

C:\Users\Deepika Dutt\AppData\Local\Temp\ipykernel_24280\4099259024.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_data['Frontage_mode'] = sample_data['Frontage'].fillna(sample_data['Frontage'].mode()[0])

In [53]:
sample_data

       Frontage  Frontage_mean  Frontage_median  Frontage_mode
0          13.5      13.500000             13.5           13.5
1          23.5      23.500000             23.5           23.5
2          26.5      26.500000             26.5           26.5
3           NaN      17.547621             14.5           11.0
4          12.5      12.500000             12.5           12.5
...         ...            ...              ...            ...
52403       NaN      17.547621             14.5           11.0
52404       NaN      17.547621             14.5           11.0
52405       NaN      17.547621             14.5           11.0
52406       NaN      17.547621             14.5           11.0
52407       NaN      17.547621             14.5           11.0

[52408 rows x 4 columns]

In [54]:
sample_data['Frontage_ffill'] = sample_data['Frontage'].fillna(method = 'ffill')

C:\Users\Deepika Dutt\AppData\Local\Temp\ipykernel_24280\3827826846.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_data['Frontage_ffill'] = sample_data['Frontage'].fillna(method = 'ffill')

In [55]:
sample_data

       Frontage  Frontage_mean  Frontage_median  Frontage_mode  Frontage_ffill
0          13.5      13.500000             13.5           13.5            13.5
1          23.5      23.500000             23.5           23.5            23.5
2          26.5      26.500000             26.5           26.5            26.5
3           NaN      17.547621             14.5           11.0            26.5
4          12.5      12.500000             12.5           12.5            12.5
...         ...            ...              ...            ...             ...
52403       NaN      17.547621             14.5           11.0            17.5
52404       NaN      17.547621             14.5           11.0            17.5
52405       NaN      17.547621             14.5           11.0            17.5
52406       NaN      17.547621             14.5           11.0            17.5
52407       NaN      17.547621             14.5           11.0            17.5

[52408 rows x 5 columns]

In [56]:
sample_data['Frontage_bfill'] = sample_data['Frontage'].fillna(method = 'bfill')

C:\Users\Deepika Dutt\AppData\Local\Temp\ipykernel_24280\1921051552.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_data['Frontage_bfill'] = sample_data['Frontage'].fillna(method = 'bfill')

In [57]:
sample_data

,Frontage,Frontage_mean,Frontage_median,Frontage_mode,Frontage_ffill,Frontage_bfill
0,13.5,13.500000,13.5,13.5,13.5,13.5
1,23.5,23.500000,23.5,23.5,23.5,23.5
2,26.5,26.500000,26.5,26.5,26.5,26.5
3,NaN,17.547621,14.5,11.0,26.5,12.5
4,12.5,12.500000,12.5,12.5,12.5,12.5
...,...,...,...,...,...,...
52403,NaN,17.547621,14.5,11.0,17.5,NaN
52404,NaN,17.547621,14.5,11.0,17.5,NaN
52405,NaN,17.547621,14.5,11.0,17.5,NaN
52406,NaN,17.547621,14.5,11.0,17.5,NaN
52407,NaN,17.547621,14.5,11.0,17.5,NaN

In [58]:
sample_data['Frontage_interpolate'] = sample_data['Frontage'].interpolate()

C:\Users\Deepika Dutt\AppData\Local\Temp\ipykernel_24280\1697669284.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_data['Frontage_interpolate'] = sample_data['Frontage'].interpolate()

In [59]:
sample_data

,Frontage,Frontage_mean,Frontage_median,Frontage_mode,Frontage_ffill,Frontage_bfill,Frontage_interpolate
0,13.5,13.500000,13.5,13.5,13.5,13.5,13.5
1,23.5,23.500000,23.5,23.5,23.5,23.5,23.5
2,26.5,26.500000,26.5,26.5,26.5,26.5,26.5
3,NaN,17.547621,14.5,11.0,26.5,12.5,19.5
4,12.5,12.500000,12.5,12.5,12.5,12.5,12.5
...,...,...,...,...,...,...,...
52403,NaN,17.547621,14.5,11.0,17.5,NaN,17.5
52404,NaN,17.547621,14.5,11.0,17.5,NaN,17.5
52405,NaN,17.547621,14.5,11.0,17.5,NaN,17.5
52406,NaN,17.547621,14.5,11.0,17.5,NaN,17.5
52407,NaN,17.547621,14.5,11.0,17.5,NaN,17.5

In [61]:
sample_data.describe()

,Frontage,Frontage_mean,Frontage_median,Frontage_mode,Frontage_ffill,Frontage_bfill,Frontage_interpolate
count,28941.000000,52408.000000,52408.000000,52408.000000,52408.000000,52393.000000,52408.000000
mean,17.547621,17.547621,16.182972,14.615759,18.418871,18.131153,18.274922
std,10.480617,7.788278,7.934355,8.441468,11.097766,10.772948,9.848765
min,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000,0.500000
25%,11.000000,14.000000,14.000000,11.000000,11.000000,11.000000,11.700000
50%,14.500000,17.547621,14.500000,11.000000,15.000000,15.000000,15.500000
75%,20.000000,17.547621,15.000000,15.000000,21.500000,21.000000,21.818182
max,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000